

		<div class = "main">
      
      <div>
      <div class="clearfix"></div>
        <div class="col-md-12 text-center"> 
      <p class ="bio">Developer with a Computer Engineering degree from Ohio State.  Previous work experience with Fortune 500 companies.  Experience in coding in the following formats: C++, assembly language, Ruby, Ruby on Rails, Java, Javascript, JQuery, AngularJS, HTML, CSS, and SASS.</p>
        </div>
       <div class="clearfix"></div>   
      <div class="col-md-12 text-center"> 
				<button class="btn btn-primary">My Projects</button> 
			</div>
      <div class="clearfix"></div>
        
     
      </div class="center-buttons">
        <div class="col-md-3 text-center">  
			<a href="pages/education.html"> <img class="picture" src="https://photos-5.dropbox.com/t/2/AACIMcAP2hGbP1WA_w1ccQfkq_BdbqUV1IyhGjXzCzCPYA/12/25808799/png/32x32/1/_/1/2/osuseal.png/EN-DtxMYngIgBygH/5ZPXt3c8kI5qbP-sb3LDyMzXTFVOfUtb5tjYn9thRuI?size=2048x1536&size_mode=3" > </a>
        </div>

      <div class="col-md-3 text-center">  
			<a href="pages/professional.html"> <img class="picture" src="https://photos-5.dropbox.com/t/2/AAC7iYjYGT18RiKazggdDt8QP0GEWeVDWM51tAvp7HmB2A/12/25808799/jpeg/32x32/1/_/1/2/professional.jpeg/EN-DtxMYpAIgBygH/WCTua23XRYOJEd2prfi92ZXvaK4a9l0sWnkcwO_ZyH8?size=2048x1536&size_mode=3"></a>
      </div>

        <div class="col-md-3 text-center">  
			<a href="pages/skills.html"> <img class="picture" src="https://photos-3.dropbox.com/t/2/AAC0y7akp3tGdudc0DLDCgot4lYZOUWuGgsYAFoP-_wcGg/12/25808799/jpeg/32x32/1/_/1/2/skills.jpeg/EN-DtxMYpAIgBygH/NvOClarRgWaZhQ2oAIUz0rhwSaNM5FNih-igLWYcF_U?size=2048x1536&size_mode=3"></a>
      </div>

          <div class="col-md-3 text-center">  
			<a href="pages/projects.html"> <img class="picture" src="https://photos-3.dropbox.com/t/2/AACdRUX4WAxD1L073xfTVy5BsvVQYOJT8FtUj0mQh381Xw/12/25808799/jpeg/32x32/1/_/1/2/projects.jpeg/EN-DtxMYpAIgBygH/coORzM9zzHQ8vXIGYWuP8bEKcP5hSUVwUkcFupO5CSk?size=2048x1536&size_mode=3"></a>
      </div>

		</div>


		