<div class="main">
  
  <div class="my-slider">
		<ul>
			<li><img src="https://photos-1.dropbox.com/t/2/AACEUk5njNaqoess1aLFt7J74Y1RrBXopmx0kpde4MSY3A/12/25808799/png/32x32/1/_/1/2/Screen%20Shot%202017-01-31%20at%201.02.05%20PM.png/EN-DtxMYqAIgBygH/zOttGj49Z1kcLap5mtxoFk76hGJ0vKagH4uBjYyzuAE?size=2048x1536&size_mode=3"></li>
			<li><img src="https://photos-1.dropbox.com/t/2/AAAl-n25Ll2wB7EFcTZpREUAA5LbJNP4wdReg00gv8htXA/12/25808799/png/32x32/1/_/1/2/Screen%20Shot%202017-01-31%20at%202.49.28%20PM.png/EN-DtxMYqAIgBygH/4SVPsXtfWaaplEPU94RP-TvGLEFu82Dx-tdCz3lxCIY?size=2048x1536&size_mode=3"></li>
			<li><img src="https://photos-1.dropbox.com/t/2/AACpnGuebVBGtu517LfUo3f6OGXmNyhn-zXMlgUQbXOaWw/12/25808799/png/32x32/1/_/1/2/Screen%20Shot%202017-01-31%20at%202.51.21%20PM.png/EN-DtxMYqAIgBygH/Ck3STHBelP-6MS0Vg1LRFOgzDk-52wP0bfXmjbZcGlQ?size=2048x1536&size_mode=3"></li>
		</ul>
	</div>
  
  
</div>

<script>$(document).ready(function () { $('.my-slider').unslider(); });</script>


