<div class="main">
  
  <img src="https://photos-6.dropbox.com/t/2/AABkEmy2D1gauGLjQrTsX5INPgTYCfLDdz-aigJdJ1avkA/12/25808799/png/32x32/1/_/1/2/BioPic.png/EN-DtxMYqwIgBygH/W2Lxc4_JTEHA6jWDmOwZXUB97ghUXf3KjM7GYgTcgBI?size=2048x1536&size_mode=3">  
  <p class="bio">Developer with a Computer Engineering degree from Ohio State. Previous work experience with Fortune 500 companies. Experience in coding in the following formats: C++, assembly language, Ruby, Ruby on Rails, Java, Javascript, JQuery, AngularJS, HTML, CSS, and SASS.</p>
  
</div>